@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

@import url(font-awesome.min.css);

body {
  color: #666666;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.80857;
  overflow-x: hidden !important;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: 120% !important;
  color: #1f1f1f;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 21px;
  color: #07528d;
  margin-top: 25px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #212121;
  text-decoration: none !important;
  opacity: 1;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  opacity: 0.8;
}

a {
  color: #1f1f1f;
  text-decoration: none;
  outline: none;
}

.dark_bg {
  background: #000;
}

.padding_left_right {
  padding-left: 30px;
  padding-right: 30px;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button:focus {
  outline: none;
}

#scroll-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: flex !important;
  justify-content: center;
  font-size: 25px;
  border-radius: 0;
  transition: 0.2s;
  letter-spacing: 1px;
  text-align: center;
  line-height: 40px;
  color: #ffffff;
  font-weight: 900;
  border-radius: 100%;
}

#scroll-to-top i.fas.fa-angle-up {
  position: relative;
  top: 6px;
  left: 6px;
}

.padding_bottom-0 {
  padding-bottom: 0 !important;
}

.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  background: #095a83;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fff;

  width: 165px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  margin-top: 20px;
  font-weight: 600;
  text-indent: -10px;
}

.hvr-radial-out:after {
  content: "";
  display: flex;
  width: 25px;
  height: 100px;
  background: #fff;
  position: absolute;
  z-index: 11;
  top: 0;
  right: -6px;
  transform: skew(-20deg);
}

.hvr-radial-out::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #070500;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-radial-out:hover::before,
.hvr-radial-out:focus::before,
.hvr-radial-out:active::before {
  -webkit-transform: scale(2);
  transform: scale(2);
}

a.hvr-radial-out:hover,
a.hvr-radial-out:focus {
  color: #fff;
}

a#scroll-to-top::after {
  display: none;
}

.silver_bg .hvr-radial-out:after {
  background: #eee;
}
